---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div class="spinner-grow text-primary" role="status"></div>
  </div>
  <!-- Spinner End -->

  <!-- Carousel Start -->
  <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="w-100" src="img/mining44.jpg" alt="Image" />
          <div class="carousel-caption">
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <h1 class="display-3 text-white mb-4 animated slideInDown">
                    Investing in Tomorrow, Today
                  </h1>
                  <p
                    class="fs-5 text-body mb-5"
                    style="color: #ffff !important;"
                  >
                    Focusing on high-return opportunities that shape Africa’s
                    future.
                  </p>
                  <a href="" class="btn btn-primary py-3 px-5">More Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="w-100" src="img/mining22.jpg" alt="Image" />
          <div class="carousel-caption">
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <h1 class="display-3 text-white mb-4 animated slideInDown">
                    Empowering African Growth
                  </h1>
                  <p
                    class="fs-5 text-body mb-5"
                    style="color: #ffff !important;"
                  >
                    Unlocking Africa's potential through strategic investments
                    and sustainable growth.
                  </p>
                  <a href="" class="btn btn-primary py-3 px-5">More Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#header-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Carousel End -->

  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <div
            class="position-relative overflow-hidden rounded ps-5 pt-5 h-100"
            style="min-height: 400px;"
          >
            <img
              class="position-absolute w-100 h-100"
              src="img/about.jpg"
              alt=""
              style="object-fit: cover;"
            />
            <div
              class="position-absolute top-0 start-0 bg-white rounded pe-3 pb-3"
              style="width: 200px; height: 200px;"
            >
              <div
                class="d-flex flex-column justify-content-center text-center bg-primary rounded h-100 p-3"
              >
                <h1 class="text-white mb-0">5</h1>
                <h2 class="text-white">Years</h2>
                <h5 class="text-white mb-0">Experience</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="h-100">
            <h1 class="display-6 mb-5">About AfriNova</h1>
            <p class="fs-5 text-primary mb-4">
              AfriNova Finance and Advisory Services LLC is an African-focused
              transaction advisory and project management firm with over two
              decades of experience.
            </p>
            <p>
              Headquartered in Florida, USA, with offices in the UAE and Africa,
              we specialize in strategic partnerships, transforming ambitious
              ideas into successful realities across industries such as real
              estate development and commodity trading.
            </p>
            <div class="border-top mt-4 pt-4">
              <div class="d-flex align-items-center">
                <img
                  class="flex-shrink-0 rounded-circle me-3"
                  src="img/phones.png"
                  alt=""
                />
                <h5 class="mb-0">Call Us: +256 700 372 842</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Facts Start -->
  <div class="container-fluid overflow-hidden my-5 px-lg-0">
    <div class="container facts px-lg-0">
      <div class="row g-0 mx-lg-0">
        <div class="col-lg-6 facts-text wow fadeIn" data-wow-delay="0.1s">
          <div class="h-100 px-4 ps-lg-0">
            <h1 class="text-white mb-4">Vision</h1>
            <p class="text-light mb-5">
              To identify, promote, and manage projects that provide our
              investors access to exceptional investment opportunities, focusing
              on Africa’s potential for growth.
            </p>
            <a href="" class="align-self-start btn btn-secondary py-3 px-5"
              >More Details</a
            >
          </div>
        </div>
        <div class="col-lg-6 facts-counter wow fadeIn" data-wow-delay="0.5s">
          <div class="h-100 px-4 pe-lg-0">
            <div class="row g-5">
              <div class="col-sm-6">
                <h1 class="display-5 counter" data-target="4">40</h1>
                <p class="fs-5 text-primary">Client Engagements</p>
              </div>
              <div class="col-sm-6">
                <h1 class="display-5 counter" data-target="200000000000">2</h1>
                <p class="fs-5 text-primary">Investment Deals Structured</p>
              </div>
              <div class="col-sm-6">
                <h1 class="display-5 counter" data-target="2">5</h1>
                <p class="fs-5 text-primary">Years of Experience</p>
              </div>
              <div class="col-sm-6">
                <h1 class="display-5 counter" data-target="1">3</h1>
                <p class="fs-5 text-primary">Countries Operated In</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Facts End -->

  <!-- Features Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="display-6 mb-5">Our Mission</h1>
          <p class="mb-4">
            To actualize the development goals of our clients through
            professional services that embody efficiency, honesty, and
            innovation.
          </p>
          <div class="row g-3">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
              <div class="bg-light rounded h-100 p-3">
                <div
                  class="bg-white d-flex flex-column justify-content-center text-center rounded h-100 py-4 px-3"
                >
                  <img
                    class="align-self-center mb-3"
                    src="img/icon/icon-06-primary.png"
                    alt=""
                  />
                  <h5 class="mb-0">Efficiency</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
              <div class="bg-light rounded h-100 p-3">
                <div
                  class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3"
                >
                  <img
                    class="align-self-center mb-3"
                    src="img/icon/icon-03-primary.png"
                    alt=""
                  />
                  <h5 class="mb-0">Honesty</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
              <div class="bg-light rounded h-100 p-3">
                <div
                  class="bg-white d-flex flex-column justify-content-center text-center rounded py-4 px-3"
                >
                  <img
                    class="align-self-center mb-3"
                    src="img/icon/icon-04-primary.png"
                    alt=""
                  />
                  <h5 class="mb-0">Innovation</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
          <div
            class="position-relative rounded overflow-hidden h-100"
            style="min-height: 400px;"
          >
            <img
              class="position-absolute w-100 h-100"
              src="img/feature.jpg"
              alt=""
              style="object-fit: cover;"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features End -->

  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto" style="max-width: 500px;">
        <h1 class="display-6 mb-5">What We Do</h1>
      </div>
      <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item rounded h-100 p-5">
            <div class="d-flex align-items-center ms-n5 mb-4">
              <div
                class="service-icon flex-shrink-0 bg-primary rounded-end me-4"
              >
                <img
                  class="img-fluid"
                  src="img/icon/icon-10-light.png"
                  alt=""
                />
              </div>
              <h4 class="mb-0">Investment Management</h4>
            </div>
            <p class="mb-4">
              We provide investment management services to harness Africa’s
              economic potential.
            </p>
            <a class="btn btn-light px-3" href="">Read More</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item rounded h-100 p-5">
            <div class="d-flex align-items-center ms-n5 mb-4">
              <div
                class="service-icon flex-shrink-0 bg-primary rounded-end me-4"
              >
                <img
                  class="img-fluid"
                  src="img/icon/icon-01-light.png"
                  alt=""
                />
              </div>
              <h4 class="mb-0">Project Management</h4>
            </div>
            <p class="mb-4">
              We excel in managing projects from inception to completion with
              efficiency.
            </p>
            <a class="btn btn-light px-3" href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->

  <!-- Appointment Start -->
  <div
    class="container-fluid appointment my-5 py-5 wow fadeIn"
    data-wow-delay="0.1s"
  >
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
          <h1 class="display-6 text-white mb-5">Join Our Growing Network</h1>
          <p class="text-white mb-5">
            Partner with us to unlock new investment opportunities and drive
            sustainable growth.
          </p>
          <div class="bg-white rounded p-3">
            <div class="d-flex align-items-center bg-primary rounded p-3">
              <img
                class="flex-shrink-0 rounded-circle me-3"
                src="img/phones.png"
                alt=""
              />
              <h5 class="text-white mb-0">Call Us: +256 700 372842</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
          <div class="bg-white rounded p-5">
            <form>
              <div class="row g-3">
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="gname"
                      placeholder="Guardian Name"
                    />
                    <label for="gname">Your Name</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control"
                      id="gmail"
                      placeholder="Guardian Email"
                    />
                    <label for="gmail">Your Email</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="cname"
                      placeholder="Child Name"
                    />
                    <label for="cname">Your Mobile</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="cage"
                      placeholder="Child Age"
                    />
                    <label for="cage">Service Type</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea
                      class="form-control"
                      placeholder="Leave a message here"
                      id="message"
                      style="height: 80px"></textarea>
                    <label for="message">Message</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary py-3 px-5" type="submit"
                    >Get Appointment</button
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Appointment End -->

  <!-- Team Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto" style="max-width: 500px;">
        <h1 class="display-6 mb-5">Meet Our Professional Team Members</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item rounded">
            <img class="img-fluid" src="/img/conrad.png" alt="" />
            <div class="text-center p-4">
              <h5>Conrad Atuhire</h5>
              <span>President</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Conrad Atuhire</h5>
              <p>President</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-twitter"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-facebook-f"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-youtube"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-linkedin-in"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item rounded">
            <img class="img-fluid" src="/img/saad.png" alt="" />
            <div class="text-center p-4">
              <h5>Saad Kitagenda</h5>
              <span>Vice President Financer</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Saad Kitagenda</h5>
              <p>Vice President Financer</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-twitter"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-facebook-f"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-youtube"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-linkedin-in"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item rounded">
            <img class="img-fluid" src="/img/idusso.png" alt="" />
            <div class="text-center p-4">
              <h5>Virgil Junior Idusso</h5>
              <span>VICE PRESIDENT PROJECTS</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Virgil Junior Idusso</h5>
              <p>VICE PRESIDENT PROJECTS</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-twitter"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-facebook-f"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-youtube"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-linkedin-in"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item rounded">
            <img class="img-fluid" src="/img/mawejje.png" alt="" />
            <div class="text-center p-4">
              <h5>Hamad mawejje</h5>
              <span>VP GLOBAL MARKETS</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Hamad mawejje</h5>
              <p>VP GLOBAL MARKETS</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-twitter"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-facebook-f"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-youtube"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-linkedin-in"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item rounded">
            <img class="img-fluid" src="/img/tony.png" alt="" />
            <div class="text-center p-4">
              <h5>Galandi Tony Kiire</h5>
              <span>VP GLOBAL MARKETS</span>
            </div>
            <div class="team-text text-center bg-white p-4">
              <h5>Galandi Tony Kiire</h5>
              <p>VP GLOBAL MARKETS</p>
              <div class="d-flex justify-content-center">
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-twitter"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-facebook-f"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-youtube"></i></a
                >
                <a class="btn btn-square btn-light m-1" href=""
                  ><i class="fab fa-linkedin-in"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Repeat for other team members -->
        <!-- Add remaining team members here with similar structure -->
      </div>
    </div>
  </div>

  <!-- Team End -->
</BaseLayout>
