<!-- Footer Component -->
<footer>
  <div
    class="container-fluid bg-dark footer mt-5 pt-5 wow fadeIn"
    data-wow-delay="0.1s"
  >
    <div class="container py-5">
      <div class="row g-5">
        <!-- Company Overview Section -->
        <div class="col-lg-3 col-md-6">
          <h1 class="text-white mb-4">
            <!-- <img
              class="img-fluid me-3"
              src="/img/icon/icon-02-light.png"
              alt="AfriNova"
            /> -->
            AfriNova
          </h1>
          <p>
            AfriNova Finance and Advisory Services LLC is committed to unlocking
            Africa's potential through strategic investments and innovative
            project management.
          </p>
          <div class="d-flex pt-2">
            <a class="btn btn-square me-1" href="#"
              ><i class="fab fa-twitter"></i></a
            >
            <a class="btn btn-square me-1" href="#"
              ><i class="fab fa-facebook-f"></i></a
            >
            <a class="btn btn-square me-1" href="#"
              ><i class="fab fa-youtube"></i></a
            >
            <a class="btn btn-square me-0" href="#"
              ><i class="fab fa-linkedin-in"></i></a
            >
          </div>
        </div>

        <!-- Contact Information Section -->
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Contact Us</h5>
          <p>
            <i class="fa fa-map-marker-alt me-3"></i>Florida, USA; UAE; Africa
          </p>
          <p><i class="fa fa-phone-alt me-3"></i>+256 700 372 842</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            <a
              href="mailto:info@afrinova.co"
              style="color:inherit; text-decoration:none;"
            >
              info@afrinova.co
            </a>
          </p>
        </div>

        <!-- Quick Links Section -->
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Quick Links</h5>
          <a class="btn btn-link" href="/about">About Us</a>
          <a class="btn btn-link" href="/contact">Contact Us</a>
          <a class="btn btn-link" href="/services">Our Services</a>
          <a class="btn btn-link" href="#">Terms & Conditions</a>
          <a class="btn btn-link" href="#">Support</a>
        </div>

        <!-- Newsletter Section -->
        <div class="col-lg-3 col-md-6">
          <h5 class="text-light mb-4">Newsletter</h5>
          <p>
            Stay updated with the latest investment opportunities in Africa.
          </p>
          <div class="position-relative mx-auto" style="max-width: 400px;">
            <input
              class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
              type="text"
              placeholder="Your email"
            />
            <button
              type="button"
              class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2"
              >Sign Up</button
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="container-fluid copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a href="#">AfriNova</a>, All Rights Reserved.
          </div>
          <div class="col-md-6 text-center text-md-end">
            Designed By <a href="https://github.com/mutesasira"
              >Poly Global Limited</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
